.ant-layout-footer {
  background: none !important;
  .ant-pro-global-footer {
    margin: 12px 0 !important;
    .ant-pro-global-footer-copyright {
      color: @text-color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      .anticon-copyright {
        margin-right: 5px;
      }
    }
  }

}
