@import '~antd/es/style/variable.less';
@import './tailwind.css';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// PageContainer 容器的内边距调整
.ant-pro-page-container-warp-page-header  {
  padding: 12px 25px !important;
}

.ant-pro-page-container-children-content {
  padding: 0 25px !important;
}

// 页头Logo大小调整
.ant-pro-top-nav-header-logo >*:first-child>img {
  width: 32px;
}

// 删除插入偏移的设置
.ant-pro-form-login-title {
  inset-block-start: unset;
}

.ant-pro-base-menu .ant-pro-base-menu-item-title {
  justify-content: center;
  .ant-pro-base-menu-item-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    span {
      width: 100%;
      height: 100%;
      font-size: 100%;
    }
  }
  .ant-pro-base-menu-item-text {
    margin-left: 5px !important;
    font-size: 14px;
    line-height: 13px;
  }
}
